/**
  |
  | Variables
  |
 */

// Body
$letter-spacing: 0px;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.4;
$font-bold: 700;
$font-color: #434b57;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary-background: #e0e5ec;
$primary-color: #888;
$default-radius: 6px;

$danger-color: #fa5f39;
$success-color: #43e99a;

$dark-shadow: rgb(163, 177, 198);

$text-semi-dark: #888888;

/**
  |
  | Mixins
  |
 */

@mixin dimension($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin opacity($opacity) {
    opacity: $opacity;
    $opacity-ie: $opacity * 100;
    filter: alpha(opacity=$opacity-ie);
}

/**
    Positioning
 */
@mixin position($position, $args) {
    @each $o in top right bottom left {
        $i: index($args, $o);

        @if $i and
            $i +
            1
            <=length($args) and
            type-of(nth($args, $i + 1))
            ==number
        {
            #{$o}: nth($args, $i + 1);
        }
    }

    position: $position;
}

@mixin absolute($args: "") {
    @include position(absolute, $args);
}

@mixin fixed($args: "") {
    @include position(fixed, $args);
}

@mixin relative($args: "") {
    @include position(relative, $args);
}

/**
    Font Size
 */

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size + 0.5px;
    font-size: calculateRem($size + 0.5px);
}

@mixin icon($size) {
    @include dimension($size);
}

@mixin flex($justify-content: center, $align-items: center, $flex-wrap: wrap) {
    display: flex;
    align-items: $align-items;
    justify-content: $justify-content;
    flex-wrap: $flex-wrap;
}

@mixin object-fit($object-position: center, $object-fit: cover) {
    object-position: $object-position;
    object-fit: $object-fit;
    -o-object-position: $object-position;
    -o-object-fit: $object-fit;
}

@mixin background-center($position: center, $size: cover) {
    background-position: $position;
    background-size: $size;
}

@mixin box-shadow($shadow) {
    -webkit-box-shadow: $shadow !important;
    -moz-box-shadow: $shadow !important;
    box-shadow: $shadow !important;
}

@mixin transition($duration: 0.2s) {
    transition: all $duration ease;
}

@mixin cover-overlay {
    @include absolute(top 0, left 0);
    @include dimension(100%, 100%);
}

@mixin default-shadow {
    @include box-shadow(0 0px 7.5px 0 rgba(0, 0, 0, 0.04));
}

@mixin text-gradient($gradient) {
    background: -webkit-linear-gradient($gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin no-scrollbar {
    &::-webkit-scrollbar {
        height: 0;
        width: 0;
    }
}

@mixin mini-scrollbar {
    &::-webkit-scrollbar {
        height: 4px;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #aaa;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: #fff;
    }
}

@mixin placeholder {
    &.placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }

    &::-webkit-input-placeholder {
        @content;
    }
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }

    @-moz-keyframes #{$name} {
        @content;
    }

    @-ms-keyframes #{$name} {
        @content;
    }

    @keyframes #{$name} {
        @content;
    }
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    animation: $animation;
}
